# Problem 1(a).  College data.

The data set usnews.csv contains data from the 1995 US News and World Report on colleges and universities in the US.  

(Dataset:  “US News College data,” submitted by Robin Lock, St. Lawrence University.   Dataset obtained from the Journal of Statistics Education (http://www.amstat.org/publications/jse). Accessed 23 June 2015. Used by permission of author.)

Metadata:  http://www.amstat.org/publications/jse/datasets/usnews.txt


The data set contains asterisks which indicate missing data.  Use pandas to create a data frame which replaces the asterisks by the ```NaN``` symbol. Also look out for extra spaces.

In [9]:
import pandas as pd
import numpy as np
import re


df = pd.read_csv("usnews.csv")

#Fix column names
rs = [(r'^ ',r''), (r' {2,}',r' '), (r' - ',r' '), (r'%',r'pct')]
for r in rs:
    df.columns = df.columns.str.replace(r[0], r[1])

df = df.applymap(lambda x: np.NaN if x=='*' else x)

df['College Name'] = df['College Name'].str.replace(r' {2,}',r' ')

#Problem 1(b).  Categorizing universities.

Create a new column in your data frame which describes whether a university is public or private, using the words "Public" and "Private" instead of numbers.  (It may be helpful to consult the metadata file.)

In [10]:
d = {1: "Public", 2: "Private"}
df['Public private cat']= df['Public/private'].map(lambda x: d.get(x,x))

#Problem 1(c).  

The interquartile range is the 3rd quartile minus the 1st quartile.  Create columns recording the interquartile range for math and verbal SAT scores.

In [11]:
df.ix[:,8:12] = df.ix[:,8:12].applymap(pd.to_numeric)
for x in ['Math', 'Verbal']:
    df["IQR {0}".format(x.lower())] = \
        df['Third quartile {0} SAT'.format(x)] \
      - df['First quartile {0} SAT'.format(x)]

# Problem 1(d).  Saving for R.

Save your data frame as a .csv file for further analysis in R.  You should replace the ```NaN``` symbol with an empty string before saving.  Your output should not include a column of row numbers.

In [12]:
df.fillna("", inplace=True)
df.to_csv('usnews_clean.csv', index=False)